.home-container {
  background-image: url("../../assets/home-page/background-elements/home-bg.png");
  background-position: center;
  background-repeat: no-repeat;
}

.neonText {
  color: #fff;
  text-shadow: 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #9dfe00,
    0 0 1px #9dfe00, 0 0 1px #9dfe00, 0 0 80px #9dfe00, 0 0 151px #9dfe00;
}

.text::before {
  content: "The";
  background-image: url("../../assets/home-page/hero-elements/bubble.png");
  background-repeat: no-repeat;
  padding-left: 80px;
}

.episode-and-location {
  background-image: url("../src/assets/home-page/background-elements/star.png");
  background-size: contain;
}

.home-rest-content {
  background-image: url("../src/assets/home-page/background-elements/spiral.png");
  background-position: right;
  background-repeat: no-repeat;
}

/* ======================== */

.hero-gradient-text {
  background: #9dfe00;
  background: linear-gradient(to right, #9dfe00 0%, #14d9e5 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.the-text {
  content: "The";
  background-image: url("../../assets/home-page/hero-elements/bubble.png");
  background-repeat: no-repeat;
}

@media (max-width: 844px) {
  .and::before {
    content: "&";
  }
}

@media (min-width: 884px) {
  .and::before {
    content: "&";
    background-image: url("../../assets/home-page/hero-elements/pill.png");
    background-repeat: no-repeat;
  }
}
