@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "TTTravels";
  src: url("../src/assets/fonts/TTTravels-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "TTTravels";
  src: url("../src/assets/fonts/TTTravels-ExtraBold.ttf");
  font-weight: 900;
}

@font-face {
  font-family: "TTTravels";
  src: url("../src/assets/fonts/TTTravels-Thin.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "TTTravels";
  src: url("../src/assets/fonts/TTTravels-Medium.ttf");
  font-weight: 700;
}

@layer base {
  body {
    @apply bg-gradient-to-r from-[#181F32] via-[#191D29] to-[#212B4F] text-white;
  }

  h1 {
    @apply text-[40px] font-bold md:text-[128px];
  }

  h2 {
    @apply text-[20px] md:text-[24px];
  }
  h3 {
    @apply text-[16px] md:text-[20px];
  }
  h4 {
    @apply text-[12px] md:text-[16px];
  }
  h5 {
    @apply text-[10px] md:text-[14px];
  }
  h6 {
    @apply text-[8px];
  }
}

.scroll-to-top {
  padding: 5px !important;
}

.test {
  @apply bg-red-500;
}

.testb {
  @apply border border-red-500;
}

.bg-blur {
  @apply bg-gray-400 bg-opacity-10 bg-clip-padding backdrop-blur-sm backdrop-filter;
}

/* Episodes and location cards style start  */
.shape {
  width: 300px;
  height: 96px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.shape:before {
  content: "";
  border-radius: 10px;
  width: 296px;
  height: 92px;
  background: linear-gradient(to right, #9dfe00, #14d9e5);
  display: block;
  position: absolute;
  z-index: -1;
}
.shape,
.shape:before {
  -webkit-clip-path: polygon(100% 0, 100% 61%, 74% 100%, 0 100%, 0 0);
  clip-path: polygon(100% 0, 100% 61%, 74% 100%, 0 100%, 0 0);
}

.text-content {
  background: #353541;
  width: 293px;
  height: 89px;
  clip-path: polygon(100% 0, 100% 60%, 74% 100%, 0 100%, 0 0);
  color: white;
  border-radius: 10px;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.3);
}
/* Episodes and location cards style end */

/* media queries for Episodes and location cards */
@media (min-width: 350px) and (max-width: 844px) {
  .shape {
    width: 200px;
    height: 96px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .shape:before {
    content: "";
    border-radius: 10px;
    width: 177px;
    height: 72px;
    background: linear-gradient(to right, #9dfe00, #14d9e5);
    display: block;
    position: absolute;
    z-index: -1;
  }
  .shape,
  .shape:before {
    -webkit-clip-path: polygon(100% 0, 100% 61%, 74% 100%, 0 100%, 0 0);
    clip-path: polygon(100% 0, 100% 61%, 74% 100%, 0 100%, 0 0);
  }

  .text-content {
    background: #353541;
    width: 175px;
    height: 67px;
    clip-path: polygon(100% 0, 100% 60%, 74% 100%, 0 100%, 0 0);
    color: white;
    border-radius: 10px;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.3);
  }
}

/* media queries for Episodes and location cards */
